
::ng-deep .p-menubar .menu-w-18rem .p-submenu-list {
  width: 16rem;
}

::ng-deep .p-menubar .menu-w-18rem .p-submenu-list {
  width: 18rem;
}

::ng-deep .p-menubar .menu-w-23rem .p-submenu-list {
  width: 23rem;
}

::ng-deep .p-menubar .menu-w-25rem .p-submenu-list {
  width: 25rem;
}

::ng-deep .p-menubar .menu-w-28rem .p-submenu-list {
  width: 28rem;
}

