:root .surface-ground {
    background-color: #eff3f8 !important;
}

:root .col-12 {
    padding: 0.5rem !important;
}

:root .col-11 {
    padding: .5rem !important;
}

:root .col-10 {
    padding: .5rem !important;
}

:root .col-9 {
    padding: .5rem !important;
}

:root .col-8 {
    padding: .5rem !important;
}

:root .col-7 {
    padding: .5rem !important;
}

:root .col-6 {
    padding: .5rem !important;
}

:root .col-5 {
    padding: .5rem !important;
}

:root .col-4 {
    padding: .5rem !important;
}

:root .col-3 {
    padding: .5rem !important;
}

:root .col-2 {
    padding: .5rem !important;
}

:root .col-1 {
    padding: .5rem !important;
}


:root .p-dialog-maximized {
    height: 97vh !important;
    max-height: 97vh !important;
    min-height: 97vh !important;
}