@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Ng Zorro */
// @import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "../src/scss/width";
@import "../src/scss/color";


html {
  font-size: 14px;
}

:root body {
  font-family: "Inter var", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
}


:root {
  --surface-ground: #eff3f8 !important;
  --login-logo-ground: #bad4ff;
}

:root .font-bold {
  font-weight: bold;
}

:root .btn-full {
  button {
    width: 100% !important;
  }
}

:root .dropdown-full {
  .p-dropdown {
    width: 100% !important;
  }
}

:root .dropwown-extend {
  .p-dropdown-panel {
    width: 20rem;
  }
}

:root .p-password {
  width: 100% !important;
}

:root .p-password-input {
  width: 100% !important;
}

:root .p-colorpicker-preview,
.p-fluid .p-colorpicker-preview.p-inputtext {
  width: 100% !important;
  height: 39px !important;
}

:root tr {
  height: 50px !important;
}

:root .p-datatable .p-datatable-tbody>tr {
  color: black;
}

:root .p-stepper .p-stepper-header .p-stepper-action .p-stepper-title {
  font-weight: 500;
}

:root a {
  text-decoration: none !important;
}

:root .p-disabled,
.p-component:disabled {
  opacity: 1 !important;
}

:root .p-dialog .p-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem !important;
  // width: 40rem !important;
}

:root .p-submenu-list {
  width: 15rem !important;
}

:root p-calendar span {
  width: 100% !important;
}

:root .selected {
  background-color: #ededed !important;
}

:root .float-right {
  float: right;
}

:root .p-dialog-maximized {
  height: 97vh !important;
  max-height: 97vh !important;
  min-height: 97vh !important;
}

.p-menu {
  width: 200px !important;
}

.root .p-button-label {
  font-weight: 500 !important;
}