<form [formGroup]="changePasswordForm">
  <div class="grid">
    <div class="col-12">
      <label for="oldPassword" class="block text-900 font-medium mb-3">Mật khẩu hiện tại <span
          class="text-red-400">*</span></label>
      <p-password id="oldPassword" formControlName="oldPassword" [feedback]="false"[style]="{width:'100%'}" />
      <ul class="text-red-400 p-button-text pl-4 w-full"
        *ngIf="changePasswordForm.controls['oldPassword']?.invalid && changePasswordForm.controls['oldPassword']?.dirty">
        <li *ngIf="changePasswordForm.controls['oldPassword']?.errors?.['required']">
          Mật khẩu hiện tại không được để trống
        </li>
        <li *ngIf="changePasswordForm.controls['oldPassword']?.errors?.['minlength']
            || changePasswordForm.controls['oldPassword']?.errors?.['maxlength']">
          Mật khẩu có độ dài 6 -> 32 ký tự
        </li>
      </ul>
    </div>

    <div class="col-12">
      <label for="newPassword" class="block text-900 font-medium mb-3">Mật khẩu mới <span
          class="text-red-400">*</span></label>
      <p-password id="newPassword" formControlName="newPassword" promptLabel="Độ mạnh" [weakLabel]="'Yếu'"
      [mediumLabel]="'Trung bình'" [strongLabel]="'Mạnh'" [toggleMask]="true" [style]="{width:'100%'}" />
      <ul class=" text-red-400 p-button-text pl-4 w-full"
        *ngIf="changePasswordForm.controls['newPassword']?.invalid && changePasswordForm.controls['newPassword']?.dirty">
        <li *ngIf="changePasswordForm.controls['newPassword']?.errors?.['required']">
          Mật khẩu mới không được để trống
        </li>
        <li *ngIf="changePasswordForm.controls['newPassword']?.errors?.['minlength']
            || changePasswordForm.controls['newPassword']?.errors?.['maxlength']">
          Mật khẩu có độ dài 6 -> 32 ký tự
        </li>
      </ul>
    </div>

    <div class="col-12">
      <label for="retypeNewPassword" class="block text-900 font-medium mb-3">Nhập lại mật khẩu mới <span
          class="text-red-400">*</span></label>
      <p-password id="retypeNewPassword" formControlName="retypeNewPassword" [feedback]="false" [toggleMask]="true" [style]="{width:'100%'}" />
      <ul class="text-red-400 p-button-text pl-4 w-full"
        *ngIf="changePasswordForm.controls['retypeNewPassword']?.invalid && changePasswordForm.controls['retypeNewPassword']?.dirty">
        <li *ngIf="changePasswordForm.controls['retypeNewPassword']?.errors?.['required']">
          Hãy nhập lại mật khẩu mới
        </li>
        <li *ngIf="changePasswordForm.controls['retypeNewPassword']?.errors?.['minlength']
          || changePasswordForm.controls['retypeNewPassword']?.errors?.['maxlength']">
          Mật khẩu có độ dài 6 -> 32 ký tự
        </li>
      </ul>
    </div>
  </div>

  <ng-container>
    <div class="flex justify-content-end gap-2 px-2 pt-3">
      <p-button icon="pi pi-times" [outlined]="true" label="Đóng" severity="secondary" (onClick)="close()" />
      <p-button icon="pi pi-check" label="Lưu" [loading]="isLoading" [disabled]="changePasswordForm.invalid"
        (onClick)="changePassword()" />
    </div>
  </ng-container>
</form>
