.content {
  max-height: 60vh;
  overflow-y: auto;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: auto;
}

.avatar {
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

  img:hover {
    cursor: pointer;
  }
}