<div class="grid content">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="setting-template">
      <!-- Thông tin đợt xuất bản -->
      <div class="grid">
        <div class="col-9 grid">
          <div class="col-6">
            Họ tên người dùng <span class="text-red-400">*</span>
          </div>
          <div class="col-6">
            Số điện thoại <span class="text-red-400">*</span>
          </div>
          <div class="col-6">
            <input [(ngModel)]="user.name" type="text" maxlength="500" pInputText class="w-full" placeholder="Nhập họ tên người dùng" />
          </div>

          <div class="col-6">
            <input [(ngModel)]="user.phone" type="text" maxlength="10" pInputText class="w-full" placeholder="Nhập số điện thoại" />
          </div>

          <div class="col-6">
            Thư điện tử
          </div>
          <div class="col-6">
            Ngày sinh
          </div>
          <div class="col-6">
            <input [(ngModel)]="user.email" type="text" maxlength="500" pInputText class="w-full" placeholder="Nhập thư điện tử" />
          </div>

          <div class="col-6">
            <p-calendar [(ngModel)]="user.birthDay" class="w-full" appendTo="body" />
          </div>
          <div class="col-6">
            Tên đăng nhập <span class="text-red-400">*</span>
          </div>
          <div class="col-6">
            Mật khẩu <span class="text-red-400">*</span>
          </div>
          <div class="col-6">
            <input [disabled]="isUpdate" [(ngModel)]="user.userName" type="text" pInputText class="w-full"
              placeholder="Nhập tên đăng nhập" />
          </div>
          <div class="col-6">
            <p-password [disabled]="isUpdate" [(ngModel)]="user.password" [feedback]="false" class="password-full"
              placeholder="Nhập mật khẩu" />
          </div>



        </div>
        <div class="col-3 avatar">
          <input type="file" #uploadAvatar hidden (change)="OnChangeAvatar($event.target)" />
          <img (click)="uploadAvatar.click()" [src]="avatar" alt="Image" />
        </div>

      </div>
      <div class="grid">
        <div class="col-12">
          Địa chỉ
        </div>
        <div class="col-12">
          <input [(ngModel)]="user.address" type="text" pInputText class="w-full"
            placeholder="Nhập địa chỉ người dùng" />
        </div>


      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="flex justify-content-end align-items-center w-full  p-t-20">
    <!-- Đóng -->
    <p-button (onClick)="Close()" icon="pi pi-times" severity="secondary" class="m-r-5" label="Đóng" />

    <!-- Xóa -->
    <p-button (onClick)="Delete()" *ngIf="isUpdate" icon="pi pi-trash" severity="danger" class="m-r-5" label="Xóa bỏ" />

    <!-- Thêm mới -->
    <p-button *ngIf="!isUpdate" (onClick)="Save()" icon="pi pi-plus" label="Thêm mới người dùng" />

    <!-- Cập nhật -->
    <p-button *ngIf="isUpdate" (onClick)="Save()" icon="pi pi-check" severity="warning" label="Cập nhật người dùng" />

  </div>
</div>

<!-- Xác nhận xóa -->
<p-confirmDialog key="confirmDetele" position="top" rejectButtonStyleClass="p-button-outlined" />