
:root .color-success {
    color: #22c55e;
  }
  
  :root .color-primary {
    color: #2563eb;
  }
  
  :root .color-warning {
    color: #f97316;
  }
  
  :root .color-black {
    color: #000000 !important;
  }
  
  :root .red {
    color: red;
  }
  
  :root .primary {
    color: #3B82F6;
  }