::ng-deep .p-button-sm button {
  width: 2.5rem;
  height: 2.5rem;
}

::ng-deep p-inputnumber {
  width: 100%;
}

::ng-deep p-calendar {
  width: 100%;
}


.preview {
  display: block;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  height: 86vh;
}

.preview,
.setting-template {
  flex: 1;
}


.qr-wrapper {
  position: absolute;

}

.resize-handle {
  width: 2px;
  height: 2px;
  background-color: gray;
  position: absolute;
  cursor: nwse-resize;
}

.resize-handle.bottom-right {
  bottom: 0;
  right: 0;
}

.resize-handle.bottom-left {
  bottom: 0;
  left: 0;
}

.resize-handle.top-right {
  top: 0;
  right: 0;
}

.resize-handle.top-left {
  top: 0;
  left: 0;
}

.inspection-number {
  position: relative;
  cursor: grab;
}

.serial-label {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.lookup-header {
  padding: 30px 20px 20px 20px;
}